<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
      <h3 class="card-label" *ngIf="isCreate">Create Brand</h3>
      <h3 class="card-label" *ngIf="!isCreate">Brand Detail</h3>
    </div>

  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <form action="#" class="form" [formGroup]="brandForm" (ngSubmit)="createBrand()">
      <div>
        <div class="row" style="align-items: center">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Category Name
                <span>*</span></label>
              <div class="col-sm-6">
                <ng-select class="ng-custom-select ng-custom-select-sm"
                  [class.is-invalid]="isControlInvalid('categoryCode')" [class.is-valid]="isControlValid('categoryCode')"
                  [items]="categoryOption" bindLabel="categoryName" bindValue="categoryCode" formControlName="categoryCode">
                </ng-select>
              </div>
            </div>
          </div>

        </div>
        <div class="row" style="align-items: center">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Name
                <span>*</span></label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm " name="brandName" autocomplete="off"
                  [class.is-invalid]="isControlInvalid('brandName')" [class.is-valid]="isControlValid('brandName')"
                  formControlName="brandName" />
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Description  <span>*</span></label>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm" name="brandDescription" autocomplete="off"
                  [class.is-invalid]="isControlInvalid('brandDescription')"
                  [class.is-valid]="isControlValid('brandDescription')" formControlName="brandDescription" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary btn-elevate" [disabled]="brandForm.invalid" (click)="createBrand()">Save</button>
  </div>
  </div>