<div class="row">
  <div class="col-12">
    <div class="modal-header">
      <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
        <h3 class="card-label" *ngIf="isCreate">Create Purchase</h3>
        <h3 class="card-label" *ngIf="!isCreate">Purchase Detail</h3>
      </div>
  
    </div>
    <form action="#" class="form" [formGroup]="purchaseForm" (ngSubmit)="createPurchase()">
      <div class="card card-custom">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label left-border-image">Supplier</h3>
          </div>
        </div>
        <div class="card-body customer-card-body">
          <div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Voucher No.
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="voucherCode" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('voucherCode')"
                      [class.is-valid]="isControlValid('voucherCode')" formControlName="voucherCode" readonly />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Date
                    <span>*</span></label>
                  <div class="col-sm-6">
                    
                    <input type="text" class="form-control form-control-sm " name="date" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('date')" [class.is-valid]="isControlValid('date')"
                      formControlName="date" />
                      
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Supplier Name
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <!-- <ng-select class="ng-custom-select ng-custom-select-sm"
                      [class.is-invalid]="isControlInvalid('supplierCode')" [class.is-valid]="isControlValid('supplierCode')"
                      [items]="supplierOption" bindLabel="value" bindValue="code" formControlName="supplierCode">
                    </ng-select> -->
                    <input type="text" class="form-control form-control-sm " name="supplierName" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('supplierName')"
                      [class.is-valid]="isControlValid('supplierName')" formControlName="supplierName" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Supplier Phone
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="supplierPhone" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('supplierPhone')"
                      [class.is-valid]="isControlValid('supplierPhone')" formControlName="supplierPhone" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Supplier Address
                    <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm " name="supplierAddress" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('supplierAddress')"
                      [class.is-valid]="isControlValid('supplierAddress')" formControlName="supplierAddress" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card card-custom" style="margin-top: 30px;">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label left-border-image">Purchase</h3>
          </div>
        </div>
        <div class="card-body customer-card-body">

          <div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Purchase No.
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="purchaseCode" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('purchaseCode')"
                      [class.is-valid]="isControlValid('purchaseCode')" formControlName="purchaseCode" readonly />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Category
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <ng-select
                      (change)="selectCategory($event)" formControlName="categoryCode" [class.is-invalid]="isControlInvalid('categoryCode')" [class.is-valid]="isControlValid('categoryCode')"
                      >
                      <ng-option *ngFor="let option of categoryOption"
                                [value]="option.code">
                        <div title="{{option.value}}">{{option.value}}</div>
                      </ng-option>
                    </ng-select>
                     
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Brand
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <ng-select
                    (change)="selectBrand($event)" formControlName="brandCode" [class.is-invalid]="isControlInvalid('brandCode')" [class.is-valid]="isControlValid('brandCode')"
                    >
                    <ng-option *ngFor="let option of brandOption"
                              [value]="option.code">
                      <div title="{{option.value}}">{{option.value}}</div>
                    </ng-option>
                  </ng-select>
                    <!-- <input type="text" class="form-control form-control-sm " name="brandCode" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('brandCode')" [class.is-valid]="isControlValid('brandCode')"
                      formControlName="brandCode" /> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Sub Brand
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <ng-select
                       formControlName="subBrandCode" [class.is-invalid]="isControlInvalid('subBrandCode')" [class.is-valid]="isControlValid('subBrandCode')"
                      >
                      <ng-option *ngFor="let option of subBrandOption"
                                [value]="option.code">
                        <div title="{{option.value}}">{{option.value}}</div>
                      </ng-option>
                  </ng-select>
                    <!-- <input type="text" class="form-control form-control-sm " name="subBrandCode" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('subBrandCode')"
                      [class.is-valid]="isControlValid('subBrandCode')" formControlName="subBrandCode" /> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Size
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <ng-select class="ng-custom-select ng-custom-select-sm"
                      [class.is-invalid]="isControlInvalid('size')" [class.is-valid]="isControlValid('size')"
                      [items]="sizeOption" bindLabel="value" bindValue="value" formControlName="size">
                    </ng-select>
                    <!-- <input type="text" class="form-control form-control-sm " name="size" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('size')" [class.is-valid]="isControlValid('size')"
                      formControlName="size" /> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Quantity
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="quantity" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('quantity')" [class.is-valid]="isControlValid('quantity')"
                      formControlName="quantity" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card card-custom" style="margin-top: 30px;">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label left-border-image">Cost</h3>
          </div>
        </div>
        <div class="card-body customer-card-body">

          <div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Purchased Price
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="purchase" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('purchase')" [class.is-valid]="isControlValid('purchase')"
                      formControlName="purchase" (ngModelChange)="dataChanged($event)"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Retail Price</label>
                  <span class="switch switch-icon col-sm-3">
                    <label>
                      <input type="checkbox" name="show" [(ngModel)]="isChecked" formControlName="isRetail" />
                      <span></span>
                    </label>
                  </span>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="retailPrice" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('retailPrice')"
                      [class.is-valid]="isControlValid('retailPrice')" formControlName="retailPrice" [readonly]="!isChecked"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">WholeSale Price</label>
                  <span class="switch switch-icon col-sm-3">
                    <label>
                      <input type="checkbox" name="show" [(ngModel)]="isWholeSale" formControlName="isWholeSale" />
                      <span></span>
                    </label>
                  </span>
                  <div class="col-sm-6" >
                    <input type="text" class="form-control form-control-sm " name="wholeSalePrice" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('wholeSalePrice')"
                      [class.is-valid]="isControlValid('wholeSalePrice')" formControlName="wholeSalePrice" [readonly]="!isWholeSale"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Purchased Amount
                    <span>*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm " name="totalAmount" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('totalAmount')"
                      [class.is-valid]="isControlValid('totalAmount')" formControlName="totalAmount" />
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </form>
    <div class="card-footer" style="float: right;">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-elevate" [disabled]="purchaseForm.invalid"
        (click)="createPurchase()">Save</button>
    </div>
  </div>

</div>