.card-custom{
    margin: 20px 20px;
}
.addbtn{
    margin-top: 7%;
    margin-left: 35%;
}
.ifread{
    background-color: #d3d3d34a;
}
.btn-success{
    margin-left: 22%;
    background-color: #ffb000;
    border-color: #ffb000;
}
.btn-danger{
    margin-left: 6%;
}