/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.title{
    font-size: 1.3rem;
    margin-left: 30px;

}
.my-customer-alert {
    .alert-head {
        padding      : 0px;
        border-bottom: var(--new-light-text) solid 1px;
    }
    .alert-title {
        padding     : 10px 20px;
        padding-left: 25px;
        text-align  : left;
        font-size   : var(--new-font-md);
        position    : relative;
        font-weight : bold;
        color       : var(--new-primary-color);
    }
    .alert-message {
        padding-inline-start: 25px;
        padding-top         : 10px !important;
        font-size           : var(--new-font-size);
    }
    .alert-title::after {
        content            : "";
        display            : block;
        background-image   : url("./assets/left-border.png");
        background-position: center;
        width              : 7px;
        height             : 14px;
        position           : absolute;
        left               : 10px;
        top                : 7px;
    }
    .alert-button-inner {
        color      : var(--new-primary-color);
        font-size  : var(--new-font-md);
        font-weight: bold;
    }
}