<div class="row">
  <div class="col-12">
    <div class="card card-custom">
      <!-- <div class="card-header">
        <div class="card-title">
          <h3 class="card-label left-border-image">Dashboard</h3>
        </div>
        <div class="card-toolbar">
          <button type="button" class="btn btn-primary btn-circle">
            <span class="flaticon2-plus"></span>
          </button>
         </div>
      </div> -->
      <div class="card-body customer-card-body">
        <!-- <app-material-table-view [data]="forms" [colum]="ELEMENT_COL" [displayedColumns]="displayedColumns"
          (emitter)="actionBtn($event)">
        </app-material-table-view> -->
        <img src="assets/cover-02.jpg" /><br>
      </div>
    </div>
  </div>
</div>